.section {
background-color:royalblue;
padding-top: 50px;
padding-bottom: 100px;
border-bottom: 10px solid midnightblue;
}
.section .main-title { 
    margin-bottom: 60px
}

.section.-bgblack {
    background-color: black;
}

.section.-bdFirst {
    border-color: midnightblue;
}