.title{ 
      font-family: 'Press Start 2P' , sans-serif;
      font-size: 40px;
      color: royalblue;
      text-shadow: 4px 4px 0 black;   
       
}

.title .-second{
    text-align:center;
    color: #fff;
    text-shadow: none;   
     
}